#tmp {
    position: absolute;
    opacity: 0;
    z-index: -1;
    bottom: -9999999px;
    right: -9999999px;
}

.ttw-notification-menu {
    font-family: Arial, sans-serif;
    height: 28px;
    padding: 0;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #f2f2f2 url(../img/notification-menu-bg.png) repeat 0 0 scroll; /**TODO:Delete **/
    display: block;
    margin: 80px auto;
}

.notification-menu-item {
    display: block;
    position: relative;
    float: left;
    border-right: 1px solid #d1d1d1;
    background: transparent url(../img/item-bg.png) no-repeat left top scroll;
}

.first-item, .notification-menu-item:first-child {
    background: none;
    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
}

.notification-menu-item:last-child {
    border-right: none;
    border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
}

.notification-menu-item.last-item {
    border-right: none;
}

.notification-menu-item a {
    display: block;
    color: #666;
    text-shadow: 0 1px 0 #fff;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    line-height: 28px;
    padding: 0 12px;
}

.notification-menu-item:hover a {
    color: #333;
}

/**Notification Bubble **/
.notification-bubble {
    height: 18px;
    width: 18px;
    background: #f56c7e url(../img/notification-bg-clear.png) no-repeat center center scroll;
    background-image: none\9;
    position: absolute;
    right: 5px;
    top: -10px;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
    text-align: center;
    font-size: 9px;
    line-height: 18px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .17), 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .17), 0 1px 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .17), 0 1px 1px rgba(0, 0, 0, .2);
    border-radius: 9px;
    font-weight: bold;
    cursor: pointer;
    display: none;
}

.notification-bubble.show {
    display: block;
}

.notification-menu-item:hover .notification-bubble {
    top: -14px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 1px rgba(0, 0, 0, .2);
}

.notification-menu-item a {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.notification-bubble {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

/** Notification List **/
.notification-list-wrapper {
    display: none;
    opacity: 0;
    width: 250px;
    font-size: 11px;
    max-height: 300px;
    overflow-y: auto;
    font-family: Arial, sans-serif;
    background: rgb(251, 251, 251); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(251, 251, 251, 1)), color-stop(11%, rgba(248, 248, 248, 1)), color-stop(100%, rgba(240, 240, 240, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fbfbfb', endColorstr = '#f0f0f0', GradientType = 0); /* IE6-9 */
    background: linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* W3C */
    padding: 0;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    position: absolute;
    z-index: 1;

}

.notification-list-wrapper:before {
    display: block;
    content: '';
    width: 40px;
    height: 18px;
    background: transparent url(../img/list-pointer.png) no-repeat center bottom scroll;
    position: absolute;
    left: 50%;
    margin-left: 5px;
    top: 0;
    margin-top: -18px;
    z-index: 2;
}

.notification-list-menu {
    list-style: none;
    clear: both;
    width: 226px;
    float: left;
    padding: 0 12px;
    font-size: 10px;
}

.notification-list-menu-item {
    display: inline-block;
    float: left;
    color: #bbb;
    text-transform: lowercase;
    padding: 1px 0;
    margin: 0 6px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.notification-list-menu-item:hover {
    border-bottom: 1px solid #ccc;
    color: #777;
}

.close-notification-list {
    float: right;
    color: #ff8a87;
    text-transform: lowercase;
    padding: 1px 0;
    margin: -8px 0 -10px;
    margin-top:10px;
    cursor: pointer;
    width: 16px;
    background: transparent url(../img/close.png) no-repeat center center scroll;
    opacity: .3;
    text-indent: -999999999px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.close-notification-list:hover {
    color: #ff0000;
    opacity: .7;
}

.notification-list {
    list-style: none;
    padding: 0 12px;
    clear: both;
}

.notification-list-item {
    color: #666;
    padding: 6px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.notification-list-item:first-child {
    border-top: none;
}

.notification-list-item:last-child {
    border-bottom: none;
}

.notification-list-item:hover {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.11) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.7)), color-stop(100%, rgba(255, 255, 255, 0.11))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.11) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.11) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.11) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#b3ffffff', endColorstr = '#1cffffff', GradientType = 0); /* IE6-9 */
    background: linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.11) 100%); /* W3C */
}

.notification-list-item:hover + .notification-list-item {
    border-top: 1px solid transparent;
}

.notification-list-item .message {
    display: block;
    margin-right: 22px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}

.notification-list-item .close {
    color: #ccc;
    cursor: pointer;
    position: absolute;
    top: 6px;
    right: 12px;
    height: 14px;
    width: 14px;
    line-height: 14px;
    text-align: center;
    display: none;
    z-index: 1;
}

.notification-list[data-type=unread] .close {
    display: block;
}

.notification-list-item .close:after {
    position: relative;
    display: block;
    content: 'x';
    left: 0px;
    height: 14px;
    width: 14px;
    z-index: 0
}

.notification-list-item .close:hover {
    color: #888;
    text-shadow: 0 1px 0 #fff;
}

.notification-list-item.show-icon .icon {
    display: block;
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 6px;
}

.notification-list-item img {
    height: 16px;
    width: 16px;
}

.notification-list-item.show-icon .message {
    width: 160px;
    float: left;
}

.empty-list {
    text-align: center;
    font-style: italic;
}

/** Modal Notification **/
.ttw-modal-outer {
    font-family: Arial, sans-serif;
    padding: 24px 0;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    box-shadow: inset 0 -12px 48px rgba(0, 0, 0, .17), 0 2px 5px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: inset 0 -12px 48px rgba(0, 0, 0, .17), 0 2px 5px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: inset 0 -12px 48px rgba(0, 0, 0, .17), 0 2px 5px rgba(0, 0, 0, 0.42);
    background: rgb(251, 251, 251); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(251, 251, 251, 1)), color-stop(11%, rgba(248, 248, 248, 1)), color-stop(100%, rgba(240, 240, 240, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fbfbfb', endColorstr = '#f0f0f0', GradientType = 0); /* IE6-9 */
    background: linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* W3C */
}

.ttw-modal-outer .ui-dialog-titlebar {
    color: #444;
    font-weight: bold;
    border-bottom: 1px solid #e1e1e1;
    padding: 0 24px 6px 24px;
}

.ttw-notification.modal {
    padding: 24px;
}

.ttw-notification.modal .icon {
    display: none;
}

.ttw-notification.modal.show-icon .icon {
    display: block;
    height: 43px;
    width: 43px;
    float: left;
    background-position: center top !important;

}

.ttw-notification.modal img {
    display: none;
}

.ttw-notification.modal .message {
    width: 302px;
    color: #777;
    float: left;
    font-family: arial, sans-serif;
    font-size: 14px;
    position: relative;
    top: 2px;
}

.ttw-notification.modal.show-icon .message {
    width: 245px;
    margin-left: 12px;
    min-height: 40px;
}

.ttw-modal-outer .ui-dialog-buttonpane {
    height: 31px;
}

.ttw-modal-outer .ui-dialog-buttonset {
    display: inline-block;
    float: right;
    padding: 0 24px;
}

.ttw-modal-outer button {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    padding: 7px 18px;
    background: #aaa url(../img/button-overlay.png) repeat-x left center scroll; /* Old browsers */
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 1px solid #999;
    -moz-box-shadow: 0px 1px 2px rgba(000, 000, 000, 0.3), inset 0px 1px 0px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px 1px 2px rgba(000, 000, 000, 0.3), inset 0px 1px 0px rgba(255, 255, 255, 0.6);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
    outline: none;
    cursor: pointer;
}

.ttw-modal-outer button:hover {
    background-color: #999;
    border-color: #888;
}

.ttw-modal-outer button:first-child {
    border-color: #6eb8d6;
    background-color: #7ac7e6;
    text-shadow: 0 -1px 1px #5691a8;
}

.ttw-modal-outer button:first-child:hover {
    border-color: #5aa9c9;
    background-color: #65b9da;
}

.ttw-modal-outer .ui-icon-closethick {
    display: none;
}

.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(125, 126, 125); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(125, 126, 125, 1)), color-stop(100%, rgba(14, 14, 14, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#7d7e7d', endColorstr = '#0e0e0e', GradientType = 0); /* IE6-9 */
    background: linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%); /* W3C */
    opacity: .2;
    filter: alpha(opacity = 20);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}

/** Bar Notification **/

.ttw-bar-outer {
    font-family: Arial, sans-serif;
    position: relative;
    padding: 0;
    border: 1px solid #d1d1d1;
    box-shadow: inset 0 -12px 48px rgba(0, 0, 0, .07);
    -moz-box-shadow: inset 0 -12px 48px rgba(0, 0, 0, .07);
    -webkit-box-shadow: inset 0 -12px 48px rgba(0, 0, 0, .07);
    background: rgb(251, 251, 251); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(251, 251, 251, 1)), color-stop(11%, rgba(248, 248, 248, 1)), color-stop(100%, rgba(240, 240, 240, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fbfbfb', endColorstr = '#f0f0f0', GradientType = 0); /* IE6-9 */
    background: linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* W3C */
}

.ttw-bar-outer .ui-dialog-titlebar {
    display: none;
}

.ttw-notification.bar {
    padding: 6px 24px;
    min-height: 40px !important;
}

.ttw-notification.bar .icon {
    display: none;
}

.ttw-notification.bar.show-icon .icon {
    display: block;
    height: 36px;
    width: 36px;
    float: left;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.ttw-notification.bar img {
    display: block;
    height: 36px;
    width: 36px;
}

.ttw-notification.bar .message {
    color: #777;
    float: left;
    font-family: arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    top: 6px;
}

.ttw-notification.bar.show-icon .message {
    margin: 0px 0 0 48px;
    min-height: 40px;
}

.ttw-bar-outer.show-buttons .message {
    margin-bottom: 36px;
}

.ttw-bar-outer .ui-dialog-buttonpane {
    height: 31px;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
}

.ttw-bar-outer .ui-dialog-buttonset {
    display: inline-block;
    float: left;
    padding: 0 24px;
}

.ttw-bar-outer button {
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    padding: 3px 6px;
    background: #aaa url(../img/button-overlay.png) repeat-x left center scroll; /* Old browsers */
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 1px solid #999;
    -moz-box-shadow: 0px 1px 2px rgba(000, 000, 000, 0.3), inset 0px 1px 0px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px 1px 2px rgba(000, 000, 000, 0.3), inset 0px 1px 0px rgba(255, 255, 255, 0.6);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
    outline: none;
    cursor: pointer;
    margin-right: 6px;
}

.ttw-bar-outer button:last-child {
    margin-right: 0;
}

.ttw-bar-outer button:hover {
    background-color: #999;
    border-color: #888;
}

.ttw-bar-outer button:first-child {
    border-color: #6eb8d6;
    background-color: #7ac7e6;
    text-shadow: 0 -1px 1px #5691a8;
}

.ttw-bar-outer button:first-child:hover {
    border-color: #5aa9c9;
    background-color: #65b9da;
}

.ttw-bar-outer .close {
    position: absolute;
    right: 24px;
    top: 6px;
    cursor: pointer;
    width: 14px;
    height: 14px;
    *background: #666;
}

.ttw-bar-outer .close:after {
    font-family: Arial, sans-serif;
    color: #aaa;
    text-shadow: 0 1px 0 #fff;
    content: 'x';
    display: block;
    font-size: 11px;
    width: 6px;
    height: 14px;
}

/** Success Bar **/
.ttw-notification.bar.success {
    padding: 6px 32px;
    background: rgb(138, 211, 130); /*Old browsers*/
    background: -moz-linear-gradient(top, rgba(138, 211, 130, 1) 0%, rgba(106, 177, 101, 1) 100%); /*FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(138, 211, 130, 1)), color-stop(100%, rgba(106, 177, 101, 1))); /*Chrome,Safari4+*/
    background: -webkit-linear-gradient(top, rgba(138, 211, 130, 1) 0%, rgba(106, 177, 101, 1) 100%); /*Chrome10+,Safari5.1+*/
    background: -o-linear-gradient(top, rgba(138, 211, 130, 1) 0%, rgba(106, 177, 101, 1) 100%); /*Opera11.10+*/
    background: -ms-linear-gradient(top, rgba(138, 211, 130, 1) 0%, rgba(106, 177, 101, 1) 100%); /*IE10+*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#8ad382', endColorstr = '#6ab165', GradientType = 0); /*IE6-9*/
    background: linear-gradient(top, rgba(138, 211, 130, 1) 0%, rgba(106, 177, 101, 1) 100%); /*W3C*/
    border: 1px solid #4b8048;
}

.ttw-notification.bar.warning {
    background: rgb(252, 226, 121); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(252, 226, 121, 1) 0%, rgba(253, 218, 72, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 226, 121, 1)), color-stop(100%, rgba(253, 218, 72, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(252, 226, 121, 1) 0%, rgba(253, 218, 72, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(252, 226, 121, 1) 0%, rgba(253, 218, 72, 1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(252, 226, 121, 1) 0%, rgba(253, 218, 72, 1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fce279', endColorstr = '#fdda48', GradientType = 0); /* IE6-9 */
    background: linear-gradient(top, rgba(252, 226, 121, 1) 0%, rgba(253, 218, 72, 1) 100%); /* W3C */
    border: 1px solid #ca9c00;
}

.ttw-notification.bar.error {
    background: rgb(216, 119, 119); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(216, 119, 119, 1) 1%, rgba(217, 87, 87, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(216, 119, 119, 1)), color-stop(100%, rgba(217, 87, 87, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(216, 119, 119, 1) 1%, rgba(217, 87, 87, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(216, 119, 119, 1) 1%, rgba(217, 87, 87, 1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(216, 119, 119, 1) 1%, rgba(217, 87, 87, 1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#d87777', endColorstr = '#d95757', GradientType = 0); /* IE6-9 */
    background: linear-gradient(top, rgba(216, 119, 119, 1) 1%, rgba(217, 87, 87, 1) 100%); /* W3C */
    border: 1px solid #b72224;
}

.ttw-notification.bar.notice {
    background: rgb(234, 247, 255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(234, 247, 255, 1) 0%, rgba(218, 237, 247, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(234, 247, 255, 1)), color-stop(100%, rgba(218, 237, 247, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(234, 247, 255, 1) 0%, rgba(218, 237, 247, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(234, 247, 255, 1) 0%, rgba(218, 237, 247, 1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(234, 247, 255, 1) 0%, rgba(218, 237, 247, 1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eaf7ff', endColorstr = '#daedf7', GradientType = 0); /* IE6-9 */
    background: linear-gradient(top, rgba(234, 247, 255, 1) 0%, rgba(218, 237, 247, 1) 100%); /* W3C */
    border: 1px solid #BFE2F2;
}

.ttw-bar-outer.success, .ttw-bar-outer.warning, .ttw-bar-outer.notice, .ttw-bar-outer.error {
    border: none;
}

.ttw-notification.bar.success img, .ttw-notification.bar.warning img, .ttw-notification.bar.error img, .ttw-notification.bar.notice img {
    display: none;
}

.ttw-notification.bar.success .message, .ttw-bar-outer.success .close:after, .ttw-notification.bar.error .message, .ttw-bar-outer.error .close:after {
    color: #fff;
    text-shadow: none;
}

.ttw-notification.bar.warning .message, .ttw-bar-outer.warning .close:after, .ttw-notification.bar.notice .message, .ttw-bar-outer.notice .close:after {
    color: #444;
    text-shadow: none;
}

.ttw-modal-outer.success button, .ttw-modal-outer.error button, .ttw-modal-outer.warning button, .ttw-modal-outer.notice button {
    background-color: #999;
    border-color: #888;
    text-shadow: none;
}

/** Growl Notifications - Light**/

.growl-wrapper {
    padding: 0 10px;
    width: 314px;
    position: absolute;
}

.ttw-notification.growl {
    display: none;
    opacity: 0;
    min-height: 44px;
    width: 294px;
    padding: 9px;
    margin: 10px 0;
    border: 1px solid #d1d1d1;
    position: relative;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: rgb(251, 251, 251); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(251, 251, 251, 1)), color-stop(11%, rgba(248, 248, 248, 1)), color-stop(100%, rgba(240, 240, 240, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fbfbfb', endColorstr = '#f0f0f0', GradientType = 0); /* IE6-9 */
    background: linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%); /* W3C */
}

/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack */
.ttw-notification.growl:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.ttw-notification.growl .icon {
    display: none;
}

.ttw-notification.growl.show-icon .icon {
    display: block;
    height: 43px;
    width: 43px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.ttw-notification.growl img {
    display: none;
}

.ttw-notification.growl .message {
    width: 293px;
    color: #444;
    float: left;
    font-family: arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: 2px;
}

.ttw-notification.growl.show-icon .message {
    width: 237px;
    margin-left: 12px;
}

.ttw-notification.growl .message a {
    color: #fff;
    text-decoration: none;
}

.ttw-notification.growl .message a:hover {
    text-decoration: underline;
}

.ttw-notification.growl .close {
    width: 18px;
    height: 18px;
    display: block;
    cursor: pointer;
    position: absolute;
    top: -9px;
    left: -9px;
    background: transparent url(../img/growl-close.png) no-repeat center center scroll;
    background-clip: padding;
}

.ttw-notification.growl .close:hover:after {
    color: #666;
}

/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack */
.ttw-notification.bar:after,
.ttw-notification.modal:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

