<!-- UI Coding by Aamir Khan -->


.a
{
	text-decoration:none;
}
a
{
	text-decoration:none;
}
.body_format
{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
}

.footer_bg
{
	background-color:#015B9A;
	height:250px;
	padding:12px 0 12px 0;
	width:1350px;
	margin: 5px auto;
        left:0px;
	border-bottom:2px #0C3C60 solid;
}

.footer_bg_last
{
	background-color:#0C3C60;
	color:#f5f5f5;
	font-size:12px;
	height:30px;
	width:1350px;
	margin:0 auto;
	border-bottom:2px #0C3C60 solid;
}
#footer_content
{
	width:200px;
	height:auto;
	position:absolute;
}

#footer_contentB
{
	width:200px;
	height:auto;
	margin-left: 205px;
	position:absolute;
}

#footer_contentC
{
	width:200px;
	height:auto;
	margin-left: 410px;
	position:absolute;
}

#footer_contentD
{
	width:200px;
	height:auto;
	margin-left: 615px;
	position:absolute;
}

#footer_contentE
{
	width:250px;
	height:auto;
	margin-left: 820px;
	position:absolute;
}

ul
{
		list-style:none;
}

.ft_header
{
	color:#FDD059;
	font-size:24px;
	font-family:Arial, Helvetica, sans-serif;
}

.ft_links
{
	color:#F5F5F5;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
}

.footer_list_inline
{
	display:inline-block;
	
}

#right
{
		float:right;
		padding:6px 15px 0 0;
}

#left
{
		float:left;
		padding:6px 0 0 15px;
}