/* This CSS file is part of the HTML5 / CSS3 tutorial on http://www.lingulo.com */

/* GLOBAL */
body
{
        
        font-family: 'Open Sans', sans-serif;
        color:#333333;
}

input
{
        font-family: 'Open Sans', sans-serif;
        font-size:16px;
        padding: 7px;
        outline: 0;
        border:0;
        width:250px;
        background: #fff;
        border-radius:5px;
}

input[type=submit]
{
        width:auto;
        padding: 5px 18px;
        line-height:25px;
        text-shadow:none;
        cursor:pointer;
        box-shadow: none;
        background: linear-gradient(#FDD35F, #FDB80E);
        color: #fff;
        border:1px solid brown;
}

input[type=submit]:hover
{
        width:auto;
        padding: 5px 18px;
        line-height:25px;
        text-shadow:none;
        cursor:pointer;
        box-shadow: none;
        background: linear-gradient(#FDB80E, #FDD35F);
        color: #fff;
}

p
{
        margin:5px 0;
        line-height:25px;
}

a
{
        text-decoration:none;
        color:inherit;
        transition: color .5s ease;
}

strong
{
        font-weight:bold;
}

figcaption strong
{
        border-bottom: 1px solid #D6D0C1;
        padding-bottom:10px;
        margin: 10px 0;
        display:block;
}

figcaption
{
        line-height: 25px;
        font-size:14px;
        width:200px;
}

hr
{
        background-color: #D6D0C1;
        border:0;
        height:1px;
        margin:20px 0;
}


/* HEADER */

.header_bg
{
        position:relative;
        width:auto;
        max-width:1360px;
        min-height:175px;
        margin: 0 auto 20px auto;
        background-color:#005C98;
}

header
{
        position:relative;
        width:auto;
        max-width:1360px;
        margin: 0 auto 20px auto;
        background-image: url("img/image_header.png");
        height:155px;
}

header h1
{
        margin:0px 0 0 0;
        font-size:55px;
        color:#e56038;
        font-family: 'Baumans', cursive;
}

header p
{
        font-family: 'Open Sans', sans-serif;
        font-size:16px;
        color: #4A463B;
        margin-left:132px;
}

header img
{
        color: #4A463B;
        margin-left:20px;
        margin-top: 30px;
}


nav
{
        position:absolute;
        right:23px;
        bottom:-10px;
        background-color:#E3E3E3;
        border-radius: 5px;
}

nav ul
{
        list-style:none;
}

nav ul li
{
        display:block;
        float:left;
        padding:10px 20px 10px 20px;
}

nav ul li a
{
        font-family: 'Open Sans', sans-serif;
        font-size:14px;
        transition: all .25s ease;
}

nav ul li a:hover
{
        color:#005C98;
       
}

#alternative_menu
{
        width: 150px;
        position:absolute;
        top:100px;
        left:50%;
        margin-left: -75px;
        display:none;
}

/* 3 COLUMNS */

#boxcontent_admin
{
        width:auto;
        max-width:300px;
        margin:-15px 0 0 1px;
        padding:30px 0 45px 20px;
        border: 1px solid #c5c5c5;
        overflow: auto;
        overflow-style: marquee-block;
        min-height: 517px;
        max-height: 517px;
      
        
}

.ctg_p {  font-size: 12px; color:#ABABAB;} 
.ctg { border-bottom: 1px solid #D6D0C1; margin: 40px 10px 0px 0; padding: 0px 0 8px 0;}

.link_grp
{
    
    
    margin-right: 10px;
    margin-top:10px;
}
.sb
{
}
.sell_board
{
	
        width:auto;
	color:#fff;
        top:0%;
	background: linear-gradient(#005C98, #0C3C60);
	
        position:static;
	text-align:center;
        margin:-30px 0 0 -20px;
	font-family:Arial, Helvetica, sans-serif;
	padding:15px 0 15px 0;

}

#boxcontent article
{
        float:left;
        width:250px;
        margin-right:45px;
        margin-top:20px;
        font-size:14px;
}

#boxcontent article h3
{
        font-family: 'Open Sans', sans-serif;
        font-size:20px;
        margin-bottom:10px;
        margin-left:75px;
}

#boxcontent article img
{
        float:left;
}

#boxcontent article p
{
        line-height:25px;
        font-family: 'Open Sans', sans-serif;
        margin-left:75px;
}


#slider_content1, #slider_content2, #slider_content3
{
        line-height: 25px;
        font-family: 'Open Sans', sans-serif;
        width:350px;
        position:absolute;
        top:15%;
        left:15%;
        display:none;
        z-index:11;
}

#slider_content1 h3, #slider_content2 h3, #slider_content3 h3
{
        color:#EBE8DE;
        font-size:25px;
        font-weight:bold;
        margin-bottom:10px;
        background-color:#333333;
        padding:10px 15px;
        border-radius: 15px 0 15px 0;
        display:inline-block;
}

#slider_content1
{
        display:block;
}

#slider_content1 p, #slider_content2 p, #slider_content3 p
{
        margin:0 0 30px 0;
        color:#4a463b;
        background-color:#EBE8DE;
        padding:10px 15px;
        border-radius: 5px;
}


/* BUTTONS */

.button
{
        padding:7px 14px;
        border: 1px solid #c3532e;
        background-image: linear-gradient(bottom, #E56038 0%, #ff8c66 100%);
        background-color: #eb653c;
        color: #EBE8DE;
        text-shadow: 1px 1px 0px #ff8155;
        text-decoration:none;
        border-radius:5px;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.button:hover
{
        background:none #EBE8DE;
        border-color: #EBE8DE;
        text-shadow:none;
        color: #4A463B;
}


/* SPACER */

#spacer
{
        width:auto;
        max-width: 1366px;
        margin: 0 auto;
        height:70px;
        background-color:#FDD059;
        position:relative;
        font-family: 'Open Sans', sans-serif;
        color:#fff;
        font-size:18px;
        top:-16px;
}

#spacer p
{
        margin-top:22px;
        width:auto;
        position:absolute;
        margin-left:25px;
}

#spacer .search
{
        margin-top:15px;
        width:auto;
        position:absolute;
        right:37.5%;
        margin-right:-480px;
}


/* FOUR COLUMNS */

#four_columns, #text_column_admin
{
        line-height:25px;
        font-family: 'Open Sans', sans-serif;
        clear:both;
        width:auto;
        margin:0 auto;
        max-width: 1366px;
}

#four_column_admin h2, #text_column_admin h3
{
        font-size:20px;
        border-bottom: 1px solid #D6D0C1;
        padding: 20px 0;
        margin-bottom: 20px;
}

#four_columns .img-item
{
        float:left;
        margin-right:25px;
}

#four_columns .img-item a
{
        position:relative;
        display:block;
}

.thumb-screen
{
        display:block;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:113px;
        background: #000 url(img/zoom.png) center center no-repeat;
        z-index:99;
        opacity: 0;
        transition: opacity .5s ease;
}

.thumb-screen:hover
{
        opacity:0.5;
}


/* TWO COLUMNS */

#text_column_admin article.column1
{
        margin: -594px 0 0 322px;
        font-size:14px;
        float:left;
        width:auto;
        max-width: 1066px;
        min-width: 1021px;
        max-height: 591px;
        min-height: 591px;
        padding-left:20px;
        border: 1px solid #c5c5c5;
        overflow: auto;
        overflow-style: marquee-block;
}

#text_column_admin .column2
{
        margin: -497px 0 0 auto;
        font-size:14px;
        
        width:auto;
        max-width: 320px;
        border: 1px solid #c5c5c5;
        max-height: 495px;
        background-color:#D5D5D5;
        overflow: scroll;
        overflow-style: marquee-block;
}



.row
{
        position:relative;
        margin: 30px 10px 20px 10px;
        float:right;
        border-bottom: 1px solid #ABABAB;
        line-height: 0.5;
        
}

.row img
{
        float:left;
}

.row p
{
        margin-left: 100px;
}





/* FOOTER */

footer
{
        position:relative;
        clear:both;
        width:auto;
        height:350px;
        background:#015B9A;
}

footer .wrapper
{
        line-height:25px;
        margin: 0 auto;
        padding-top:30px;
        width:auto;
        max-width:900px;
        font-size:14px;
}

footer .wrapper .column
{
        font-family: 'Open Sans', sans-serif;
        color:#ababab;
        float:left;
        width:160px;
        margin-right:20px;
}

footer .wrapper .column.midlist ul li
{
        display:block;
        width:auto;
        padding:0 0 10px 25px;
        margin-bottom:10px;
        border-bottom: 1px solid #444444;
        background:url(img/arrowright2.png) left 6px no-repeat;
}

footer .wrapper .column.midlist ul li a:hover
{
        color:#fff;
}

footer .wrapper .column.rightlist ul li
{
        display:block;
        width:auto;
        margin-bottom:15px;
}

footer .wrapper .column.rightlist ul li a span
{
        margin-left:95px;
        display:block;
}

footer .wrapper .column.rightlist ul li a img
{
        transition: border .25s ease;
        float:left;
        border:3px solid #444444;
}

footer .wrapper .column.rightlist ul li a img:hover
{
        border-color: #5e5e5e;
}

footer .wrapper .column h4
{
        font-size: 16px;
        color: #FDD059;
        padding: 0 0 10px 0;
        margin-bottom: 10px;
}

#copyright
{
        background: #0C3C60;
        height:70px;
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
}
#copyright .wrapper
{
        font-family: 'Open Sans', sans-serif;
        padding-top:25px;
        color: #5e5e5e;
        font-size:14px;
        position:relative;
}
#copyright .wrapper .social
{
        position:absolute;
        right:0;
        top:25px;
}
#copyright .wrapper .social a
{
        transition: opacity .25s ease;
        opacity: 0.3;
        margin-left: 12px;
        display:block;
        float:left;
}
#copyright .wrapper .social a:hover
{
        opacity: 0.7;
}
#copyright .wrapper a
{
        color: #ABABAB;
}

#copyright .wrapper a:hover
{
        color: #fff;
}


/* SKIPLINK */
.go-top {
        position: fixed;
        bottom: 2em;
        right: 2em;
        text-decoration: none;
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: 12px;
        padding: 1em;
        display: none;
}

.go-top:hover {
        background-color: rgba(0, 0, 0, 0.6);
}


/* SLIDESHOW */
/* Prevent the slideshow from flashing on load */
.slidesjs-container
{
        border-top: 1px #d6d0c1 solid;
}
#slides
{
  display: none
}

/* Center the slideshow */
.container
{
        width:auto;
        margin: 0 auto;
        position:relative;
}

/* Show active item in the pagination */
.slidesjs-pagination .active
{
  color:red;
}

#slider_content1 p .responsive_button, #slider_content2 p .responsive_button, #slider_content3 p  .responsive_button
{
        display:none;
        color:#000;
}


/* MISC */
.clear
{
        clear:both;
}
.hidden
{
        position:absolute;
        clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
          clip: rect(1px, 1px, 1px, 1px);
}


/* MEDIA QUERIES FOR A RESPONSIVE LAYOUT */

@media (max-width: 1360px)
{
        #slider_content1, #slider_content2, #slider_content3
        {
                width:auto;
                margin-right:50px;
        }
        #slider_content1 h2, #slider_content2 h2, #slider_content3 h2
        {
                font-size:18px;
        }
        #slider_content1 p, #slider_content2 p, #slider_content3 p
        {
                font-size:14px;
        }
        #slider_content1 p .responsive_button, #slider_content2 p .responsive_button, #slider_content3 p  .responsive_button
        {
                display:inline;
        }
        .container .button
        {
                display:none;
        }
        #text_column_admin article.column1
        {
                float:none;
                 max-width:calc(100%/1.2);              
                 min-width:calc(100%/1.2);
                width:auto;
                
        }
        
       
        
}






@media (max-width: 915px)
{
        #boxcontent article
        {
                float: none;
                margin: 30px auto 0 auto;
                width: 60%;
        }
        
        #spacer
        {
                font-size:15px;
        }
        #spacer .search
        {
                margin-top:19px;
                margin-right:-385px;
        }
        #spacer p
        {
                margin-left:-370px;
        }
        input
        {
                padding:4px;
                font-size:14px;
        }
        input[type="submit"]
        {
                padding: 1px 14px;
        }
        #four_columns
        {
                width: 500px;
        }
        #four_columns .img-item:nth-of-type(3), #four_columns .img-item:nth-of-type(4)
        {
                margin-top: 25px;
        }
        #text_columns article.column1, #text_columns .column2
        {
                float:none;
                max-width: 500px;
                margin: 50px 30px 0 30px;
        }
        .column2 .row
        {
                float:none;
                margin:0 0 40px 50px;
        }
        footer .wrapper .column
        {
                font-size: 12px;
                width: 230px;
        }
}

@media (max-width: 765px)
{
        .container
        {
                height:1px;
                top: -1500px;
        }
        #boxcontent
        {
                margin: 0 auto;
                width:auto;
                max-width: 390px;
                height: 200px;
                
        }
        header
        {
                height:120px;
        }
        header nav
        {
                right: auto;
                bottom: auto;
                left: 40%;
                top:128px;
                margin-left: -194px;
        }
        #spacer
        {
                height:100px;
        }
        #spacer p
        {
                text-align:center;
                position:static;
                margin: 0 auto;
                padding:15px 0 7px 0;
        }
        #spacer .search
        {
                text-align:center;
                position:static;
                margin: 0 auto;
        }
        footer
        {
                padding-bottom:70px;
                height: auto;
        }
        footer .wrapper
        {
                width: 350px;
                margin: 0 auto;
        }
        footer .wrapper .column
        {
                margin-top:30px;
                float:none;
                font-size: 14px;
                width: auto;
        }
        footer .wrapper .social
        {
                display:none;
        }
        header img
        {
                width:260px;
                height:62px;
        }
        #text_columns article.column1
        {
                float:none;
             
                max-width: 500px;
                margin: 50px 30px 0 30px;
        }
}

@media (max-width: 550px)
{
        #spacer
        {
                height:auto;
                padding-bottom:15px;
        }
        
        #text_column_admin
        {
            margin:0 auto;
            width:auto;
        }
        
        #boxcontent
        {
                margin: 0 auto;
                width:auto;
        }
        #four_columns
        {
                width:auto;
        }
        #four_columns .img-item
        {
                width: 200px;
                float:none;
                margin: 25px auto 0 auto;
        }
        #four_columns h2
        {
                margin: 0 30px;
        }
        .column2 .row
        {
                margin: 0 0 40px 10px;
                width:auto;
        }
        footer .wrapper
        {
                width:auto;
        }
        footer .wrapper .column
        {
                margin: 0 auto 15px auto;
                max-width:300px;
        }
        input
        {
                width:auto;
        }
        
        header nav
        {
                display:none;
        }
        header h1
        {
                font-size:40px;
        }
        header img
        {
                width:200px;
                height:48px;
        }
        header p
        {
                margin-left: 60px;
                font-size:14px;
        }
        
}

/* KEYFRAMES */

@keyframes stylie-transform-keyframes {
  0% {transform:translateX(30px) translateY(46px) rotate(0deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {transform:translateX(260px) translateY(-150px) rotate(0deg) translate(-50%, -50%);}
}

@keyframes stylie-transform2-keyframes {
  0% {transform:translateX(40px) translateY(40px) rotate(0deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {transform:translateX(50px) translateY(40px) rotate(0deg) translate(-50%, -50%);}
}